.autoresContainer{
    padding: 2rem;
}

.autoresContainer > h2{
    margin: 1rem;
}

.autoresContainer > h3{
    margin: 1rem;
}

.autoresContainer button{
    background: var(--white);
    border: 1px solid var(--gray-100);
    border-radius: 0.5rem;
    transition: filter 0.2s;
    margin: 5px;
}

.dataTable > table> tbody > tr > td:last-child{
    width: 15%;
}