.exemplaresContainer{
    padding: 2rem;
}

.exemplaresContainer > h2{
    margin: 1rem;
}

.exemplaresContainer > h3{
    margin: 1rem;
}

.dataTable > table> tbody > tr > td:last-child{
    width: 10%;
}

.dataTable > table> tbody > tr > td.gerente{
    width: 16.2%;
}

.dataTable > table> tbody > tr > td:last-child.gerente{
    width: 20%;
}

.dataTable > table> tbody > tr > td.aluno{
    width: 25%;
}

.dataTable > table> tbody > tr > td:last-child.aluno{
    width: 5%;
}

.exemplaresContainer > button{
    background: var(--white);
    border: 1px solid var(--gray-100);
    border-radius: 0.5rem;
    transition: filter 0.2s;
    margin: 5px;
}