.content{
    padding: 2rem;
}

.content > .row{
    display: flex;
    flex-direction: row;
    margin: 1.5rem 1rem 0 1rem;
    padding: 0 1rem;
}

.content > .row > .text{
    width: 100%;
    margin-right: 0.25rem;
}

.content > .row > :last-child{
    margin-left: 1.0rem;
}

.livrosContainer{
    padding: 2rem;
}

.livrosContainer > h2{
    margin: 1rem;
}

.livrosContainer > h3{
    margin: 1rem;
}

.livrosContainer > table{
    width: 100%;
    border-collapse: collapse;
}

.livrosContainer > table > tbody > tr > td {
    height: 3.5rem;
}

.livrosContainer > table > tbody > tr:nth-child(odd) {
    background: #eee;
}

.livrosContainer > table> thead > tr > th{
    padding: 0.25rem;
    border: 1px solid var(--gray-200);
}

.livrosContainer > table> thead > tr > th:last-child{
    max-width: 10px;
}

.livrosContainer > table> tbody > tr > td{
    padding: 0.25rem;
    border: 1px solid var(--gray-100);
    
}

.livrosContainer > table> tbody > tr > td:last-child{
    max-width: 10%;
}

.livrosContainer > table > thead > tr > th{
    text-transform: uppercase;
    font: 600 0.75rem Lexend, sans-serif;
    text-align: left;
}

.livrosContainer > table > tbody > tr > td{
    font-size: 0.875rem;
    min-height: 23rem;
}

.livrosContainer > table > tbody  > tr > td > img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}

.livrosContainer > table > tbody > tr > td > a{
    color: var(--gray-800);
    font-family: Lexend, sans-serif;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.4rem;
    font-size: 1rem;
}

.livrosContainer > table > tbody  > td > a:hover{
    text-decoration: underline;
}

.livrosContainer > table > tbody > tr > td > button{
    background: var(--white);
    border: 1px solid var(--gray-100);
    border-radius: 0.5rem;
    transition: filter 0.2s;
    margin: 2px;
}

.livrosContainer > table > tbody > td > button > img{
    width: 1.5rem;
    height: 1.5rem;
}

.livrosContainer > table > tbody > td > button> img:hover{
    filter: brightness(0.9);
}

.livrosContainer > button{
    background: var(--white);
    border: 1px solid var(--gray-100);
    border-radius: 0.5rem;
    transition: filter 0.2s;
    margin: 5px;
}

@media(max-width: 768px){
    
    .content .row{
        flex-direction: column;
        margin: 0;
    }

    .content button{
        flex-grow: 1;
        width: 100%;
        margin: 1rem 0;
    }

    .content > .row > :last-child{
        margin-left: 0;
        margin-top: 0;
    }

}
