:root {
  --white: #FFF;

  --gray-50: #F7F8FA;
  --gray-100: #E6E8EB;
  --gray-200: #AFB2B1;
  --gray-500: #808080;
  --gray-800: #494D4B;

  --blue-main: #00006a;
}

@media(max-width: 1080px){
  html{
    font-size: 93.75%;
  }
}

@media(max-width: 728px){
  html{
    font-size: 87.5%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 500 1rem Inter, sans-serif;
  background: var(--gray-50);
}

input, textarea, button{
  font: 500 1rem Inter, sans-serif;
  color: var(--gray-500);
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600;
  font-family: Roboto, sans-serif;
  color: var(--gray-500);
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.5rem;
}

button{
  cursor: pointer;
}

.breadcrumbs{
  background-color: var(--gray-100);
  margin-bottom: 2rem;
  border-radius: 5px;
}

@media(max-width: 768px){

  .breadcrumbs{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  h2{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
}

.breadcrumbs span{
  color: black;
}

.breadcrumbs button span{
  color: var(--gray-800);
  text-transform: none;
}

.breadcrumbs button:hover{
  text-decoration: underline;
  background-color: transparent;
}

.breadcrumbs a span{
  color: var(--gray-800);
  text-transform: none;
}

.breadcrumbs span:last-child{
  margin: 0 1rem;
}

.breadcrumbs a:hover{
  text-decoration: underline;
  background-color: transparent;
}

.paginationContainer{
  display: flex;
  margin: 1rem 0;
  justify-content: center;
}

.flipH{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flipV{
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.filterDiv{
  margin: 0.5rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.filterDiv > span{
  flex-grow: 1;
  width: 30%;
}

.filterDiv > div{
  flex-grow: 1;
  margin: 0 0rem;
  width: 20rem;
} 

.dataTable{
  max-width: 100%;
  overflow: auto;
}

.dataTable > table{
  width: 100%;
  border-collapse: collapse;
}

.dataTable > table > tbody > tr > td {
  height: 3.5rem;
}

.dataTable > table > tbody > tr:nth-child(odd) {
  background: #eee;
}

.dataTable > table> thead > tr > th{
  padding: 0.25rem;
  border: 1px solid var(--gray-200);
}

.dataTable > table> thead > tr > th:last-child{
  max-width: 10px;
}

.dataTable > table> tbody > tr > td{
  padding: 0.25rem;
  border: 1px solid var(--gray-100);
  
}

.dataTable > table > thead > tr > th{
  text-transform: uppercase;
  font: 600 0.75rem Lexend, sans-serif;
  text-align: left;
}

.dataTable > table > tbody > tr > td{
  font-size: 0.875rem;
  min-height: 23rem;
}

.dataTable > table > tbody  > tr > td > img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.dataTable > table > tbody > tr > td > a{
  color: var(--gray-800);
  font-family: Lexend, sans-serif;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.4rem;
  font-size: 1rem;
}

.dataTable > table > tbody  > td > a:hover{
  text-decoration: underline;
}

.dataTable > table > tbody > tr > td > button{
  background: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 0.5rem;
  transition: filter 0.2s;
  margin: 2px;
}

.dataTable > table > tbody > td > button > img{
  width: 1.5rem;
  height: 1.5rem;
}

.dataTable > table > tbody > td > button> img:hover{
  filter: brightness(0.9);
}